.footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: 2px solid black;
    margin: 1rem;
}


.connectSpan{
    font-weight: bold;
    margin-right: 5px;
}
.img{
    width : 1.5rem;
    margin: 1rem;
}